{% extends "../Base/UserBase.html" %}

{% block route-head %}
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="توضیح کوتاه درباره محتوای صفحه - حداکثر 160 کاراکتر">
  <meta name="keywords" content="کلمه کلیدی 1, کلمه کلیدی 2, کلمه کلیدی 3">
  <title>زبانزد - افزودن کلمه جدید</title>
{% endblock route-head %}

{% block route-content %}
  <form class="form center" method="POST" novalidate>
    <h2 class="text-center">نوشتن کلمه جدید</h2>
    {% csrf_token %}

    <fieldset class="form__field">
      <label class="form__label" for="word-input">کلمه مورد نظر</label>
      <input
        type="text"
        name="word"
        id="word-input"
        class="form__input"
        placeholder="کلمه خود را وارد نمایید"
        autocomplete="off"
        required>
    </fieldset>
    <fieldset class="form__field">
      <label class="form__label" for="meaning-input">معنی کلمه</label>
      <input
        type="text"
        name="meaning"
        id="meaning-input"
        class="form__input"
        placeholder="معنی کلمه را وارد نمایید"
        autocomplete="off"
        required>
    </fieldset>
    <fieldset class="form__field">
      <label class="form__label" for="example-input">مثال کلمه</label>
      <input
        type="text"
        name="meaning"
        id="example-input"
        class="form__input"
        placeholder="یک مثال برای کلمه بزنید"
        autocomplete="off"
        required>
    </fieldset>

    <button type="submit" class="form__submitter">افزودن کلمه</button>
  </form>
{% endblock route-content %}

{% comment %} {% if form.errors %}
  <div class="alert alert-danger">
  <ul>
  {% for field, errors in form.errors.items %}
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
  {% endfor %}
  </ul>
  </div>
  {% endif %} {% endcomment %}
