{% extends '../Base/UserBase.html' %}

{% block route-head %}

{% endblock route-head %}

{% block route-content %}
  <form class="form" method="POST">
    <h2 class="text-center">شارژ حساب و خرید اشتراک</h2>
    {% csrf_token %}
    
    <fieldset class="form__field">
      <label class="form__label" for="plans-select">انتخاب پلن:</label>
      <select id="plans-select" name="plan_id" class="form__select" required>
        {% for plan in plans %}
          <option value="{{ plan.id }}">{{ plan.name }} - {{ plan.price }} تومان</option>
        {% endfor %}
      </select>
    </fieldset>

    <div class="form__err-wrapper">
      {% if messages %}
        {% for message in messages %}
          <p class="form__err">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <button class="form__submitter" type="submit">پرداخت و فعال‌سازی</button>
  </form>
{% endblock %}
