{% extends "../Base/UserBase.html" %}
{% load static %}
{% block title %}
زبانزد | صفحه کاربری
{% endblock title %}
{% block main %}
{{site_name}}
<h1>وقت بخیر {{ request.user.get_full_name }} عزیز</h1>
<img src="{{ avatar|default:'/static/images/default-avatar.jpg' }}" alt="Author Photo">

<p>نام کاربری : {{request.user.username}}</p>
<p>ایمیل : {{request.user.email}}</p>
<p>تاریخ عضویت : {{request.user.date_joined}}</p>
<p>بیوگرافی : {{request.user.bio}}</p>

<p>امتیاز : {{request.user.score}}</p>
<p>تعداد بازدید : {{request.user.hits.count}}</p>



<!--مهراب این دکمه پایین کار نمیکنه درستش کن-->
</a href="{% url 'Authentication:AddWord' %}"><input type="button" value="افزودن کلمه جدید"></a>


<p>موجودی : {{request.user.balance}}</p>
<a href="{% url 'Authentication:UserWords' request.user.username %}">مشاهده کلمات</a>
<a href="{% url 'Authentication:UserQuestions' request.user.username%}">مشاهده سوالات</a>
<a href="{% url 'Authentication:UserSuggestions' request.user.username %}">مشاهده پیشنهادات</a>
<h3>وضعیت اشتراک</h3>
{% if subscription %}
<p>پلن فعلی: <strong>{{ subscription.plan.name }}</strong></p>
<p>تاریخ شروع: {{ subscription.start_date }}</p>
{% if subscription.end_date %}
    <p>تاریخ پایان: {{ subscription.end_date }}</p>
{% else %}
    <p>اشتراک رایگان (بدون محدودیت زمانی)</p>
{% endif %}
<p>وضعیت: {% if subscription.is_active %}فعال ✅{% else %}غیرفعال ❌{% endif %}</p>
{% else %}
<p>شما هیچ اشتراکی ندارید!</p>
{% endif %}

<a href="{% url 'Authentication:Charging' %}">مشاهده پلن‌ها</a>
<h2><a href="{% url 'Authentication:password_change' %}">تغییر پسورد</a></h2>
<h2><a href="{% url 'Authentication:update_profile' %}">به روزرسانی پروفایل</a></h2>

<h2><a href="{% url 'Authentication:password_reset' %}">Reset Password</a></h2>
<h2><a href="{% url 'Authentication:delete_account' %}">Delete Account</a></h2>
{% endblock main %} 