{% extends '../Base/UserBase.html' %}

{% block route-head %}
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="توضیح کوتاه درباره محتوای صفحه - حداکثر 160 کاراکتر">
  <meta name="keywords" content="کلمه کلیدی 1, کلمه کلیدی 2, کلمه کلیدی 3">
  <title>زبانزد - تغییر گذرواژه</title>
{% endblock route-head %}

{% block route-content %}
  <form class="form" method="post">
    <h2 class="text-center">تغییر گذرواژه</h2>
    {% csrf_token %}

    <fieldset class="form__field">
      <label
        class="form__label"
        for="old-password-input"
      >
        گذرواژه فعلی
      </label>
      <input
        type="password"
        name="old_password"
        id="old-password-input"
        class="form__input"
        placeholder="گذرواژه فعلی خود را وارد نمایید" 
        autocomplete="current-password"
        autofocus
        minlength="8"
        maxlength="32"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,32}$"
        required
      >
    </fieldset>
    <fieldset class="form__field">
      <label
        class="form__label"
        for="new-password-input"
      >
        گذرواژهٔ جدید
      </label>
      <input
        type="password"
        name="new_password1"
        id="new-password-input"
        class="form__input"
        placeholder="گذرواژه جدید خود را وارد نمایید" 
        autocomplete="new-password"
        minlength="8"
        maxlength="32"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,32}$"
        required
      >
    </fieldset>

    <div class="form__err-wrapper">
      {% if messages %}
        {% for message in messages %}
          <p class="form__err">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <button type="submit" class="form__submitter">ثبت</button>
  </form>
{% endblock route-content %}
