{% load i18n %}
{% autoescape off %}
{% blocktranslate %}شما این ایمیل را دریافت کرده‌اید زیرا درخواست بازنشانی رمز عبور خود را در {{ site_name }} ارسال کرده‌اید.{% endblocktranslate %}

{% translate "برای بازنشانی رمز عبور، به لینک زیر بروید:" %}
{{ protocol }}://{{ domain }}{% url 'Authentication:password_reset_confirm' uidb64=uid token=token %}

{% translate 'نام کاربری شما:' %} {{ user.get_username }}

{% translate "با تشکر از استفاده شما از سایت ما!" %}

{% blocktranslate %}تیم {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
