{% extends "../Base/Base.html" %}
{% load static %}
{% block main %}

<h1>{{ user.get_full_name }}</h1>
<img src="{{ avatar|default:'/static/images/default-avatar.jpg' }}" alt="Author Photo">
<h1>پروفایل {{ user.username }}</h1>

<h2>کلمات ثبت‌شده:</h2>
{% if words %}
    <ul>
        {% for word in words %}
            <li><a href="{% url 'Word:word_detail' word.slug %}">{{ word.word }}</a>: {{ word.meaning }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>هیچ کلمه‌ای ثبت نشده است.</p>
{% endif %}
<h2>پیشنهادات:</h2>
{% if suggestions %}
    <ul>
        {% for suggestion in suggestions %}
            {% if suggestion.status != "d" %}
                <li>
                    <strong>{{ suggestion.text }}</strong>
                    <a href="{% url 'Word:word_detail' suggestion.suggested_to.slug %}">مشاهده کلمه: {{ suggestion.suggested_to.word }}</a> |
                    <a href="{% url 'Word:word_detail' suggestion.suggested_to.slug %}">مشاهده پیشنهاد</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>هیچ پیشنهادی ثبت نشده است.</p>
{% endif %}

<h2>سوالات:</h2>
{% if questions %}
    <ul>
        {% for question in questions %}
            <li>
                {{ question.question }}
                - مربوط به کلمه: <a href="{% url 'Word:word_detail' question.ask_to.slug %}">{{ question.ask_to.word }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>هیچ سوالی ثبت نشده است.</p>
{% endif %}
{% endblock main %}
