{% extends './RootLayout.html' %}

{% block head %}
  <meta property="og:title" content="ssss" />
  <meta property="og:description" content="توضیح کوتاه برای شبکه‌های اجتماعی" />
  <meta property="og:image" content="URL تصویر شاخص" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="website" />
  {% block route-head %}
  {% endblock route-head %}
{% endblock head %}

{% block main-content %}
  <div class="container">
    {% block route-content %}
    {% endblock route-content %}
  </div>
{% endblock main-content %}

{% comment %} <header>
  <form action="{% url 'Authentication:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">خروج</button>
</form> {% endcomment %}