{% extends "../Base/adminbase.html" %} {% load static %}{% load widget_tweaks %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %} {% block main %}
<h2>افزودن کلمه جدید</h2>

<div class="container mt-4">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field|add_class:"form-control" }}
              {% if field.errors %}
                <div class="text-danger small mt-1">
                  {{ field.errors|striptags }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-success">ذخیره</button>
        </form>
      </div>
    </div>
  </div>
{% endblock main %}