{% extends "../Base/UserBase.html" %}

{% block route-content %}
<section class="section">
  <div class="container">
    <h2 class="text-center">حمایت مالی</h2>
    <p>
        سلام دوستان عزیز،
        <br>
        امروز با یک درخواست قلبی خدمتتون میام. هممون میدونیم که دنیای امروز پر از چالش‌ها و مشکلاته، اما یه چیزی که شاید خیلی از ماها بهش توجه نمی‌کنیم، وضعیت بچه‌هایی هست که حتی ابتدایی‌ترین نیازهای زندگی رو ندارن. بچه‌هایی که توی شهر خودمون، یعنی کرج، در شرایطی زندگی می‌کنن که شاید ما خیلی وقتا فراموش می‌کنیم.
        ما می‌خواهیم برای این کودکان، که هیچ تقصیری در شرایطشون ندارن، یه دست محبت باشیم. هدف ما جمع‌آوری کمک‌های مالی کوچیک شما عزیزانه تا بتونیم چیزهایی مثل لباس گرم، غذای خوب، وسایل مدرسه و خیلی از نیازهای دیگه رو برای این بچه‌ها فراهم کنیم.
        این کمک‌ها می‌تونه خیلی کوچک باشه، اما با هم می‌تونیم دنیای این بچه‌ها رو یکم روشن‌تر کنیم. شما هم می‌تونید سهم کوچکی از این تغییر باشید. هر مبلغی که شما بتونید کمک کنید، حتی اگر کم باشه، برای این بچه‌ها معجزه می‌کنه.
        لطفاً با حمایت شما، این کار رو به سرانجام برسونیم و دل‌های کوچیک این بچه‌ها رو شاد کنیم.
        ممنونم از تک‌تک شما عزیزان که با وجود مشکلات خودتون، می‌خواهید بخشی از این کار خیر باشید.            
    </p>
    {% if error %}
      <p class="form__err text-center">{{ error }}</p>
    {% endif %}

    <form method="post" class="form">
      {% csrf_token %}
      <label for="amount" class="form__label">مقدار دونیت (حداقل ۱۰٬۰۰۰ تومان):</label>
      <input type="number" name="amount" min="10000" class="form__input" placeholder="مثلاً 25000" required>

      <button type="submit" class="form__submitter">ادامه به مرحله بعد</button>
    </form>
  </div>
</section>
{% endblock %}
