@font-face {
  font-family: "Vazirmatn";
  src: local("Vazirmatn-Black"), local("Vazir-Black"),
    url("fonts/vazirmatn-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: local("Vazirmatn-Medium"), local("Vazir-Medium"),
    url("fonts/vazirmatn-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
}

button {
  padding: 0.75rem;
  cursor: pointer;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  transition: fill 150ms ease;
}

:root {
  --hello: rgb(59, 130, 246);
  --dark: #101827;
  --gray: #9f9f9f;
  --white: #F1F5F9;
  --primary: rgb(var(--primary-rgb));
  --font-family: "Vazirmatn", Helvetica Neue Arabic-Arabic, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --width: 39.75rem;
}

:root,
[data-theme="light"] {
  --primary-rgb: 59, 130, 246;
  --blur-fill-clr: #e6e6e6;
  --app-fill-clr: var(--dark);
  --app-bg-clr: var(--white);
  --component-bg-clr: #fcfcfc;
  --footer-color: #334155;
  --footer-bg-color: #F1F5F9;
}

[data-theme="dark"] {
  --primary-rgb: 56, 189, 248;
  --blur-fill-clr: #212121;
  --app-fill-clr: var(--white);
  --app-bg-clr: var(--dark);
  --component-bg-clr: #1E293B;
  --footer-color: #CBD5E1;
  --footer-bg-color: #0F172A;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--app-fill-clr);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: var(--font-family);
  text-wrap: balance;
  background-color: var(--app-bg-clr);
  transition: color 150ms ease, background-color 150ms ease;
}

.footer {
  padding: 1.5rem;
  margin-top: auto;
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
  margin-top: var(--title-margin);
  margin-bottom: var(--title-margin);
}

h1 {
  --title-margin: 1.5rem;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

h2 {
  --title-margin: 1.35rem;
  font-size: clamp(1.75rem, 4.5vw, 2.25rem);
}

h3 {
  --title-margin: 1.1rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h4,
.profile__subtitle {
  --title-margin: 0.9rem;
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
}

h5 {
  --title-margin: 0.7rem;
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

h6 {
  --title-margin: 0.5rem;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

p {
  --paragraph-margin: 1rem;
  margin-top: var(--paragraph-margin);
  margin-bottom: var(--paragraph-margin);
}

input,
textarea {
  appearance: none;
  display: block;
  outline: none;
  color: var(--gray);
  font: inherit;
  background-color: transparent;
  transition: 150ms color ease;
}

textarea {
  resize: none;
  overflow: hidden;
}

input:focus,
textarea:focus {
  color: var(--app-fill-clr);
}

.header {
  padding: 0.35rem 0;
  color: var(--white);
  fill: var(--white);
  background: linear-gradient(#00B4D8, #0077B6);
}

/* linear-gradient(#01c9cc, #301d6e) */

.header__nav {
  transition: ease 0.4s;
  position: fixed;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 350px;
  padding: .85rem;
  max-width: 100%;
  background-color: #1E293B;
  z-index: 999;
}

/*0A2647*/

.header__nav-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: .5rem;
  border-bottom: .1rem solid #fff;
  margin-bottom: .75rem;
}

.close-nav-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
  display: block;
  margin-right: auto;

  svg {
    fill: white !important;
    color: white !important;
    width: 100%;
    height: 100%;
  }
}

.header-pages {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  padding: 0;
  margin: 0 0 1.75rem 0;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 .75rem 0;

  .social-media {
    width: 40px;
    height: 40px;

    a {
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.inline {
  display: flex;
  gap: .75rem;
}

.header__list-icon {
  width: 2rem;
  height: 2rem;
}

.header__wrapper,
.header__brand {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.header__title {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header__logo {
  width: 3.5rem;
  aspect-ratio: 1/1;
}

.skjs {
  display: block;
  width: 8rem;
  aspect-ratio: 1/1;
  margin: 1rem auto;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon-btn {
  background-color: transparent;
}

.header__icon {
  width: 1.75rem;
  height: 1.75rem;
}

.header__icon,
.header__icon * {
  fill: var(--white) !important;
  stroke: var(--white);
}

/* .searching .search-form {
  display: none;
}

.search-form--header {
  display: none !important;
}

.searching .search-form--header {
  display: flex !important;
} */
.searching {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 250px;
  transform: translateX(-70%);
  border-color: white !important;
  z-index: 0;

  input {
    border-color: white !important;

    &::placeholder {
      color: white;
    }
  }
}

.search-form {
  display: flex;
  gap: 0.75rem;
  max-width: var(--width);
  padding: 0 0.75rem;
  margin: 0.75rem auto;
  border: 0.0625rem solid var(--gray);
  border-radius: 8px;
  transition: 0.5s;
}

.search-form>* {
  background-color: transparent;
}

.search-form__input {
  flex-grow: 1;
  height: 4rem;
  color: var(--gray);
}

.search-form__input:focus {
  color: white;
}

.search-form__input::placeholder {
  color: var(--gray);
}

.search-form__button {
  padding: 0;
}

.search-form__icon {
  width: 2rem;
  fill: var(--app-fill-clr);
}

.meaning__title {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.meaning__title::before,
.meaning__title::after {
  content: "";
  height: 0.0625rem;
  background-color: var(--gray);
}

.meaning__title::before {
  flex-basis: 0.75rem;
}

.meaning__title::after {
  flex-grow: 1;
}

.meaning__example {
  font-style: italic;
}

.section {
  padding: 2rem 0;
  padding: max(3vw, 2rem) 0;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  width: 100%;
  max-width: var(--width);
  padding: 0.75rem;
  border: 0.0625rem solid var(--gray);
  margin: 1.5rem 0 1.5rem auto;
  border-radius: 8px;
  transition: box-shadow 150ms ease;
}

.textarea:focus {
  box-shadow: 0 0 0 0.35rem #ffffff1a;
}

.submit-btn {
  width: 100%;
  max-width: var(--width);
  color: var(--app-bg-clr);
  background-color: var(--app-fill-clr);
  border-radius: 8px;
}

.question,
.suggestion {
  margin-bottom: 1rem;
}

.question:last-child,
.suggestion:last-child {
  margin-bottom: 0;
}

.nested-profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nested-profile__avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--gray);
}

.question__answers {
  padding-right: 1rem;
  border-right: 0.15rem solid var(--gray);
}

.form {
  max-width: var(--width);
  padding: 1.5rem;
  margin: 4rem auto;
  background-color: var(--component-bg-clr);
  border: 0.1rem solid var(--blur-fill-clr);
  border-radius: 4px;
}

.form__link {
  display: block;
  text-align: center;
  color: var(--primary);
}

.form__link:hover {
  text-decoration: underline;
}

.form__field {
  padding: 0;
  border: none;
  margin: 0;
}

.form__label {
  cursor: pointer;
}

.form> :first-child {
  margin-top: 0;
}

.form> :last-child {
  margin-bottom: 0;
}

.form__input,
.form__textarea,
.form__select {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid var(--blur-fill-clr);
  margin: 0.75rem 0;
  border-radius: 4px;
  transition: box-shadow 150ms ease;
}

.form__select {
  appearance: none;
  outline: none;
  color: var(--app-fill-clr);
  background-color: transparent;
}

.form__select>option {
  color: var(--app-fill-clr);
  background-color: var(--app-bg-clr);
}

.form__input:focus,
.form__textarea:focus,
.form__select:focus {
  box-shadow: 0 0 0 0.35rem rgba(var(--primary-rgb), 0.35);
}

.form__err {
  display: block;
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.form__submitter,
.btn,
.logout {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4px;
  user-select: none;
}

.form__submitter {
  width: 100%;
}

.btn {
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
  padding: 0.75rem 1.5rem;
}

.user-profile {
  --user-profile-max-width: 60rem;
  max-width: var(--user-profile-max-width);
  padding: 1.5rem;
  border: 0.0625rem solid var(--blur-fill-clr);
  margin: 1.5rem auto;
  background-color: var(--component-bg-clr);
  border-radius: 4px;
}

.user-profile__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.profile__item {
  padding: 0.75rem;
  background-color: var(--blur-fill-clr);
  border-radius: 4px;
}

.profile__item> :first-child {
  margin-top: 0;
}

.user-profile__avatar {
  display: block;
  width: 100%;
  max-width: 15rem;
  border: 0.0625rem solid var(--gray);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.user-profile__inline-details {
  display: flex;
  gap: 0.75rem;
}

.user-profile__icon {
  width: 1.8rem;
}

.user-profile__link {
  display: block;
  width: max-content;
  margin: 0.75rem 0 0 auto;
  transition: color 150ms ease;
}

.user-profile__link:hover {
  color: var(--gray);
}

.line {
  width: 90%;
  height: 0.0625rem;
  border: none;
  background-color: var(--app-fill-clr);
}

.user-profile__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-avatar {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.edit-avatar__img {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--gray);
  object-fit: cover;
  border-radius: 50%;
}

.edit-avatar:hover>.edit-avatar__overlay {
  opacity: 1;
}

.edit-avatar__overlay {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 150ms ease;
}

.edit-avatar__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--app-fill-clr);
}

@media (prefers-reduce-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .header__logo {
    width: 5rem;
    height: 5rem;
  }

  .header__icon {
    width: 3rem;
    height: 3rem;
  }

  .searching {
    width: 300px;
    transform: translateX(-79%);
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .searching {
    width: 420px;
    transform: translateX(-70%);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .searching {
    transform: translateX(-40%);
    width: 300px;
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .searching {
    width: 400px;
    transform: translateX(-50%);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media only screen and (max-width : 768px) {
  .brand-searching {
    visibility: hidden;
  }
}