@font-face {
  font-family: "Vazirmatn";
  src: local("Vazirmatn-Black"), local("Vazir-Black"),
    url("fonts/vazirmatn-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: local("Vazirmatn-Medium"), local("Vazir-Medium"),
    url("fonts/vazirmatn-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
}

button {
  padding: 0.75rem;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg,
svg * {
  fill: var(--app-fill-clr);
  transition: fill 150ms ease;
}

:root {
  --dark: #141414;
  --gray: #9f9f9f;
  --white: #fff;
  --primary: rgb(var(--primary-rgb));
  --font-family: "Vazirmatn", Helvetica Neue Arabic-Arabic, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --width: 39.75rem;
}

:root,
[data-theme="light"] {
  --primary-rgb: 30, 123, 176;
  --blur-fill-clr: #e6e6e6;
  --app-fill-clr: var(--dark);
  --app-bg-clr: var(--white);
  --component-bg-clr: #fcfcfc;
}

[data-theme="dark"] {
  --primary-rgb: 73, 23, 143;
  --blur-fill-clr: #212121;
  --app-fill-clr: var(--white);
  --app-bg-clr: var(--dark);
  --component-bg-clr: #171717;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font: inherit;
}

body {
  margin: 0;
  color: var(--app-fill-clr);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: var(--font-family);
  text-wrap: balance;
  background-color: var(--app-bg-clr);
  transition: color 150ms ease, background-color 150ms ease;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 900;
  margin-top: var(--title-margin);
  margin-bottom: var(--title-margin);
}

h1 {
  --title-margin: 1.325rem;
  font-size: 3.125rem;
}

h2 {
  --title-margin: 1.175rem;
  font-size: 2.75rem;
}

h3 {
  --title-margin: 1.025rem;
  font-size: 2.15rem;
}

h4 {
  --title-margin: 0.875rem;
  font-size: 1.85rem;
}

h5 {
  --title-margin: 0.725rem;
  font-size: 1.5rem;
}

h6 {
  --title-margin: 0.575rem;
  font-size: 1.125rem;
}

p {
  --paragraph-margin: 1rem;
  margin-top: var(--paragraph-margin);
  margin-bottom: var(--paragraph-margin);
}

input,
textarea {
  appearance: none;
  display: block;
  outline: none;
  color: var(--gray);
  font: inherit;
  background-color: transparent;
  transition: 150ms color ease;
}

textarea {
  resize: none;
  overflow: hidden;
}

input:focus,
textarea:focus {
  color: var(--app-fill-clr);
}

.header {
  padding: 0.35rem 0;
  color: var(--white);
  fill: var(--white);
  background-color: var(--primary);
}

.header__wrapper,
.header__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 5rem;
  height: 5rem;
}

[data-theme="dark"] .header__logo {
  filter: invert(0.85);
  transition: filter 150ms ease;
}

.header__theme-toggler {
  background-color: transparent;
}

.header__theme-toggler-icon {
  width: 3rem;
}

.search-form {
  display: flex;
  gap: .75rem;
  width: var(--width);
  padding: 0 .75rem;
  margin: .75rem auto;
  border: 0.0625rem solid var(--gray);
  border-radius: 8px;
}

.search-form > * {
  background-color: transparent;
}

.search-form__input {
  flex-grow: 1;
  height: 4rem;
  color: var(--gray);
}

.search-form__input:focus {
  color: var(--app-fill-clr);
}

.search-form__input::placeholder {
  color: var(--gray);
}

.search-form__button {
  padding: 0;
}

.search-form__icon {
  width: 2rem;
  fill: var(--app-fill-clr);
}

.meaning__title {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.meaning__title::before,
.meaning__title::after {
  content: "";
  height: 0.0625rem;
  background-color: var(--gray);
}

.meaning__title::before {
  flex-basis: 0.75rem;
}

.meaning__title::after {
  flex-grow: 1;
}

.meaning__example {
  font-style: italic;
}

.section {
  padding: 2rem 0;
  padding: max(3vw, 2rem) 0;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

.textarea {
  width: 100%;
  max-width: var(--width);
  padding: 0.75rem;
  border: 0.0625rem solid var(--gray);
  margin: 1.5rem 0 1.5rem auto;
  border-radius: 8px;
  transition: box-shadow 150ms ease;
}

.textarea:focus {
  box-shadow: 0 0 0 0.35rem #ffffff1a;
}

.submit-btn {
  width: 100%;
  max-width: var(--width);
  color: var(--app-bg-clr);
  background-color: var(--app-fill-clr);
  border-radius: 8px;
}

.question {
  margin-bottom: 1rem;
}

.question:last-child {
  margin-bottom: 0;
}

.question__asker {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.question__asker-avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--gray);
}

.question__answers-toggler {
  color: dodgerblue;
  user-select: none;
  cursor: pointer;
}

.question__answers {
  display: none;
  padding-right: 1rem;
  border-right: 0.15rem solid var(--gray);
}

.question__answers.show {
  display: block;
}

.form {
  max-width: var(--width);
  padding: 1.5rem;
  margin: 4rem auto;
  background-color: var(--component-bg-clr);
  border: 0.1rem solid var(--blur-fill-clr);
  border-radius: 4px;
}

.form__link {
  display: block;
  text-align: center;
  color: var(--primary);
}

.form__link:hover {
  text-decoration: underline;
}

.form__field {
  padding: 0;
  border: none;
  margin: 0;
}

.form__label {
  cursor: pointer;
}

.form > :first-child {
  margin-top: 0;
}

.form > :last-child {
  margin-bottom: 0;
}

.form__input,
.form__textarea,
.form__select {
  display: block;
  width: 100%;
  padding: .75rem;
  border: .0625rem solid var(--blur-fill-clr);
  margin: .75rem 0;
  border-radius: 4px;
  transition: box-shadow 150ms ease;
}

.form__select {
  appearance: none;
  outline: none;
  color: var(--app-fill-clr);
  background-color: transparent;
}

.form__input:focus,
.form__textarea:focus,
.form__select:focus {
  box-shadow: 0 0 0 0.35rem rgba(var(--primary-rgb), 0.35);
}

.form__err {
  display: block;
  color: var(--gray);
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.form__submitter,.btn {
  display: inline-block;
  margin-top: .5rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4px;
  user-select: none;
}

.form__submitter {
  width: 100%;
}

.btn {
  padding: .75rem 1.5rem;
}

.user-profile {
  --user-profile-max-width: 28.15rem;
  max-width: var(--user-profile-max-width);
  padding: 1.5rem;
  border: 0.0625rem solid var(--blur-fill-clr);
  margin: 1.5rem auto;
  background-color: var(--component-bg-clr);
  border-radius: 4px;
}

.user-profile__avatar {
  display: block;
  width: 100%;
  max-width: 15rem;
  border: 0.0625rem solid var(--gray);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.user-profile__inline-details {
  display: flex;
  gap: 0.75rem;
}

.user-profile__icon {
  width: 1.8rem;
}

.user-profile__link {
  display: block;
  width: max-content;
  margin: 0.75rem 0 0 auto;
  transition: color 150ms ease;
}

.user-profile__link:hover {
  color: var(--gray);
}

.line {
  width: 90%;
  height: 0.0625rem;
  border: none;
  background-color: var(--app-fill-clr);
}

.user-profile__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit-avatar {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.edit-avatar__img {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--gray);
  object-fit: cover;
  border-radius: 50%;
}

.edit-avatar:hover > .edit-avatar__overlay {
  opacity: 1;
}

.edit-avatar__overlay {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 150ms ease;
}

.edit-avatar__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--app-fill-clr);
}

@media (prefers-reduce-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
